/*@media screen and (min-width: 480px) and (max-width: 1200px){*/

/*}*/

@media only screen and (max-width: 1169px) {
    .work span{
        margin-right: 40px;
    }
    ul.second{
        margin-right: 20px;
    }
    footer ul{
        margin-right: 20px;
    }
    footer ul:first-of-type{
        margin-right: 20px;
    }
    .p_skills{
        padding: 0;
        max-width: 450px;
        margin: auto;
    }
    .nav__item a{
        font-size: 16px;
        padding: 0;
    }
    header ul li{
        margin-right: 0;
    }
    .logo{
        margin-left: 15px;
    }
    .home_content{
        margin-right: 75px;
    }
    .icons{
        display: flex;
        justify-content: space-around;
    }
    .play{
        left: 45.5%;
    }
    .partners{
        margin-bottom: 120px;
    }
    .contact_info{
        margin: 0;
    }
    .f_left{
        margin-left: 15px;
    }
    .f_right{
        margin-right: 15px;
    }
}
@media only screen and (max-width: 1023px) {
    header{
        padding: 20px 0 70px;
    }
    .fav_icon:before{
        font-size: 40px;
    }
    .copyright{
        margin-right: 150px;
    }
    .f_left{
        margin-left: 10px;
    }
    .p_skills{
        max-width: 400px;
    }
    .partners{
        margin: 0 15px;
    }
}
@media only screen and (max-width: 991px) {
    .work span{
        margin-right: 10px;
    }
    .fav_icon:before{
        font-size: 34px;
        margin-right: 10px;
    }
    .our_work{
        height: 250px;
    }
    .play{
        left: 44%;
    }
    .copyright{
        margin: 0;
    }
    .contact_info{
        margin: 0;
    }
    .p_skills{
        max-width: 300px;
    }
    .contact_info{
        margin-left: 20px;
    }
    .contact{
        padding-bottom: 50px;
    }
    .our_work_process{
        margin-bottom: 75px;
    }
    .partners{
        margin-bottom: 50px;
    }
    .rightside{
        margin-bottom: 75px;
    }
    .testimonials p{
        max-width: 650px;
    }
}
@media only screen and (max-width: 767px) {
    nav ul li{
        margin-right: 10px;
        display: block;
        margin-bottom: 20px;
    }
    header ul li a{
        font-size: 10px;
    }
    a.nav__trigger{
        top: 0;
    }
    header ul{
        display: block;
    }
    .home_content{
        margin: 30px 15px 0;
    }
    .p_skills{
        padding: 0 15px;
    }
    .p_skills span:first-of-type{
        font-size: 18px;
    }
    .play{
        left: 40%;
    }
    .our_work_process{
        margin-bottom: 100px;
    }
    .our_works{
        margin-bottom: 100px;
    }
    .service{
        max-width: 235px;
        margin: auto;
    }
    .fav_icon{
        margin-bottom: 20px;
    }
    .icons{
        padding: 50px 0;
    }
    .fav_icon{
        margin-left:15px;
    }
    .our_work{
        height: 150px;
    }
    .our_work:hover:after{
        padding-top: 60px;
    }
    .for_inp{
        margin-bottom: 30px;
    }
    .leftside{
        flex-direction: column;
    }
    .rightside{
        margin-bottom: 75px;
        text-align: center;
    }
    .copyright , .contact_info{
        margin-right: 25px;
        margin-bottom: 20px;
    }
    .f_right{
        display: flex;
        justify-content: space-between;
    }
    .home{
        margin-bottom: 50px;
    }
    .testimonials{
        padding: 50px 0;
    }
    .owl-item div{
        margin-bottom: 30px;
    }
    .testimonials p{
        margin-top: 100px;
        max-width: 300px;
        font-size: 16px;
    }
    .owl-nav .owl-prev:before , .owl-nav .owl-next:after{
        top: 50%
    }
    footer{
        padding:100px 15px 100px 0;
    }
    .contact_info{
        margin-left: 0;
    }
    .ui-widget.ui-widget-content{
        max-width: 414px!important;
    }.ui-dialog .ui-dialog-content{
        padding: 30px 30px 60px;
         }
    .reset_pass , .via_fb{
        min-width: 340px;
    }
    #dialog span:first-of-type{
        margin: 0 0 20px;
        max-width: 100px;
    }
    #dialog span{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .email{
        max-width: 300px;
    }
    #dialog form input{
        line-height: 40px;
        font-size: 38px;

    }
}
@media only screen and (max-width: 413px) {
    .ui-widget.ui-widget-content {
        max-width: 375px !important;
    }
    .reset_pass , .via_fb{
        min-width: 340px;
    }
    .ui-dialog .ui-dialog-content{
         padding: 5px 5px 30px;
     }
    header nav ul li{
        margin-right: 6px;
    }
    header{
        padding: 20px 0 50px;
    }
    .icons .wrapper{
        display: flex;
        flex-direction: column;
    }
    .fav_icon{
        width: 250px;
        margin: auto;
    }
    .our_works{
        margin-bottom: 30px;
    }
    .partners{
        margin-bottom: 30px;
    }
    .f_right{
        flex-direction: column;
    }
    footer ul{
        margin-bottom: 20px;
    }
    .p_skills {
        padding: 0;
    }
    .play{
        top: 43%;
    }
}
@media only screen and (max-width: 374px) {
    .ui-widget.ui-widget-content {
        max-width: 320px !important;
        padding: 0 5px;
    }
    .ui-dialog .ui-dialog-titlebar{
        font-size: 20px;
    }
    .reset_pass , .via_fb{
        min-width: 300px;
    }
    .home{
        margin-bottom: 30px;
    }
    .our_work{
        height: 100px;
    }
    .play{
        left: 39%;
    }
}
@media only screen and (max-width: 359px) {
    .video{
        height: 500px;
    }
    .play{
        left: 37%;
        top: 42%;
    }
    .p_skills span , .bar{
        max-width: 100px;
        margin-right: 0;
        font-size: 10px;
    }
    .p_skills span:first-of-type{
        font-size: 16px;
    }
}

/*@media only screen and (max-width: 375px) {*/
    /*.block {*/
        /*background-color: green;*/
    /*}*/
/*}*/
